p {
	
	width: 500px;
	background: #fff;
    box-shadow: inset -14px -2px 51px 18px rgba(77, 90, 66, 1);
    margin: auto;
    text-align: center;
    padding: 5px 0;
}


.btn {
    display: inline-block;
    min-width: 160px;
    margin: 24px auto 0 auto;
    padding: 16px;
    border-radius: 5px;
    font-family: 'Inconsolata', monospace;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-width: 2px;
    border-style: solid;
    background-color: yellow;
    background-position: 100% 0;
    background-size: 300%;
    transition: all 1s;
}

body {
	text-align: center;
}